.wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1200px;
  max-height: calc(95vh) - 140px;
  border-radius: 12px;
  overflow: hidden;
  background: #2e2e2e;
  position: relative;
  color: rgb(255, 255, 255);
  box-shadow: 6px 8px 20px 8px black;
}

.slider {
  height: 140px;
  background: #9f5eff;
  color: #000;
}

@media screen and (max-width: 750px) {
  .wrapper {
    max-width: 95vw;
    max-height: calc(95vh) - 140px;
  }

  .slider {
    height: 100px;
  }
}
