.wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 1400px;
  max-height: 90vh;
  border-radius: 12px;
  overflow: hidden;
  background: #2e2e2e;
  position: relative;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px 9px rgb(0 0 0 / 50%);
  border-radius: 10px;
}

.slider {
  background: #9f5eff;
  display: flex;
  height: 140px;

  color: #000;
}

@media screen and (max-width: 750px) {
  .wrapper {
    max-width: 95vw;
    max-height: 90vh;
  }
}

@media (max-height: 550px) {
  .slider {
    height: 70px;
  }
}

@media (max-width: 320px) {
  .slider {
    height: 70px;
  }
}

@media (max-height: 320px) {
  .slider {
    display: none;
  }
}
